.login-box {
    width: 32.5%;
    background-color: #112240;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 35%;



}
span{
    color: #64ffda;
}
footer{
    position: absolute;
    top: 80%;
    left: 39%;
}
.footer-p{
    color: #8892b0;
}
h1{
    color:#ffffff;

}
.forgot,.input-submit,.sign-up-link{
        display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color:transparent;
    color: #64ffda;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: #64ffda solid;
    border-radius: 30px;
}
.Forgot-password,.Sign-up{
        text-decoration: none;
        color: #8892b0;
        cursor: pointer;
}

